{%block pagehead%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>PharmAfrica Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{url_for('static', filename='/img/favicon.png')}}" rel="icon">
  <link href="{{url_for('static', filename='/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename='/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet"> 
  <link href="{{url_for('static', filename='/vendor/glightbox/css/glightbox.min.css')}}" 
  <link href="{{url_for('static', filename='/vendor/aos/aos.css')}}"  rel="stylesheet">

  <!-- Template Main CSS Files -->
  <link href="{{url_for('static', filename='/css/variables.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename='/css/main.css')}}" rel="stylesheet">
  
  <!--JS for Flash Messages -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <!-- include summernote css/js -->
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

  <!--adding search form styling-->

<style>
  .hidden-button {
    display: none;
  }
</style>

  
  {{ moment.include_moment() }}

  <!-- =======================================================
  * Template Name: PharmAfrica
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/PharmAfrica-bootstrap-blog-template/
  * Author: BootstrapMade.com
  * License: https:///bootstrapmade.com/license/
  ======================================================== -->
</head>
{%endblock%}

{%block pagebody%}
<body>


  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{url_for('main.home')}}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/img/logo.png" alt=""> -->
        <h1>PharmAfrica</h1>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{url_for('main.home')}}">Blog</a></li>
          <li class="dropdown"><a href="{{url_for('main.category', cat='business')}}"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a href="{{url_for('main.category', cat='Celebrity')}}">Celebrity</a></li>
              <li><a href="{{url_for('main.category', cat='Travel')}}">Travel</a></li>
              <li><a href="{{url_for('main.category', cat='Culture')}}">Culture</a></li>
              <li><a href="{{url_for('main.category', cat='Sport')}}">Sport</a></li>
              <li><a href="{{url_for('main.category', cat='Food')}}">Food</a></li>
              <li><a href="{{url_for('main.category', cat='Startup')}}">Startup</a></li>
            </ul>
          </li>

          <li><a href="{{url_for('main.about')}}">About</a></li>
          <li><a href="{{url_for('main.contact')}}">Contact</a></li>
          {% if not current_user.is_authenticated%}
          <li><a href="{{url_for('auth.login')}}">Login</a></li>
          {%else%}
          <li><a href="{{url_for('main.upload')}}">Upload Blog</a></li>
          <li><a href="{{url_for('auth.logout')}}">Log Out</a></li>
          {%endif%}
        </ul>
      </nav><!-- .navbar -->

      <div class="position-relative">
        <a href="#" class="mx-2"><span class="bi-facebook"></span></a>
        <a href="#" class="mx-2"><span class="bi-twitter"></span></a>
        <a href="#" class="mx-2"><span class="bi-instagram"></span></a>

        <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
        <i class="bi bi-list mobile-nav-toggle"></i>

        <!-- ======= Search Form ======= -->
        <div class="search-form-wrap js-search-form-wrap">
          <form action="{{url_for('main.search_results')}}" method="POST" class="search-form">
          {{search_form.hidden_tag()}}
            <span class="icon bi-search"></span>
            {{search_form.search(class="form-control", placeholder="Search", type="text")}}
            {%for error in search_form.search.errors%}
            <small class="text-danger">{{ error }}</small>
            {%endfor%}
            {{search_form.submit(class="btn hidden-button", placeholder="Submit", type="submit")}}
            
            <button type="submit" class="btn js-search-close"><span class="bi-x"></span></button>
          </form>
        </div><!-- End Search Form -->

      </div>

    </div>

  </header><!-- End Header -->

{%endblock%}

{% block Message_content %}
<main id="main">

    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
        {%block content%}{%endblock%}
    </div>
    
</main>
{% endblock %}




{%block pagefooter%}

<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content">
      <div class="container">

        <div class="row g-5">
          <div class="col-lg-4">
            <h3 class="footer-heading">About PharmAfrica</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid blanditiis omnis quae. Explicabo?</p>
            <p><a href="{{url_for('main.about')}}" class="footer-link-more">Learn More</a></p>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Navigation</h3>
            <ul class="footer-links list-unstyled">
              <li><a href="{{url_for('main.home')}}"><i class="bi bi-chevron-right"></i> Home</a></li>
              <li><a href="{{url_for('main.home')}}"><i class="bi bi-chevron-right"></i> Blog</a></li>
              <li><a href="{{url_for('main.category', cat='business')}}"><i class="bi bi-chevron-right"></i> Categories</a></li>
              <li><a href="{{url_for('main.singlepost', id=1)}}"><i class="bi bi-chevron-right"></i> Single Post</a></li>
              <li><a href="{{url_for('main.about')}}"><i class="bi bi-chevron-right"></i> About us</a></li>
              <li><a href="{{url_for('main.contact')}}"><i class="bi bi-chevron-right"></i> Contact</a></li>
            </ul>
          </div>
          <div class="col-6 col-lg-2">
            <h3 class="footer-heading">Categories</h3>
            <ul class="footer-links list-unstyled">
                <li><a href="{{url_for('main.category', cat='business')}}"><i class="bi bi-chevron-right"></i> Business</a></li>
                <li><a href="{{url_for('main.category', cat='Culture')}}"><i class="bi bi-chevron-right"></i> Culture</a></li>
                <li><a href="{{url_for('main.category', cat='Sport')}}"><i class="bi bi-chevron-right"></i> Sport</a></li>
                <li><a href="{{url_for('main.category', cat='Food')}}"><i class="bi bi-chevron-right"></i> Food</a></li>
                <li><a href="{{url_for('main.category', cat='Politics')}}"><i class="bi bi-chevron-right"></i> Politics</a></li>
                <li><a href="{{url_for('main.category', cat='Celebrity')}}"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                <li><a href="{{url_for('main.category', cat='Startup')}}"><i class="bi bi-chevron-right"></i> Startups</a></li>
                <li><a href="{{url_for('main.category', cat='Travel')}}"><i class="bi bi-chevron-right"></i> Travel</a></li>
            </ul>
          </div>

          <div class="col-lg-4">
            <h3 class="footer-heading">Recent Posts</h3>

            <ul class="footer-links footer-blog-entry list-unstyled">
            {%for i in range(4)%}
            
              <li>
                <a href="{{url_for('main.singlepost', id=1)}}" class="d-flex align-items-center">
                  <img src="{{url_for('static', filename=base_post[i].featured_image)}}" alt="" class="img-fluid me-3">
                  <div>
                    <div class="post-meta d-block"><span class="date">{{base_post[i].category}}</span> <span class="mx-1">&bullet;</span> <span>{{moment(base_post[i].date).fromNow()}}</span></div>
                    <span>{{base_post[i].post_title}}</span>
                  </div>
                </a>
              </li>
              
            {%endfor%}

            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="footer-legal">
      <div class="container">

        <div class="row justify-content-between">
          <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
            <div class="copyright">
              © Copyright <strong><span>PharmAfrica</span></strong>. All Rights Reserved
            </div>

            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
              Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
            </div>

          </div>

          <div class="col-md-6">
            <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

        </div>

      </div>
    </div>

  </footer>

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename='/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename='/vendor/aos/aos.j')}}"></script>
  <script src="{{url_for('static', filename='/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename='/js/main.js')}}"></script>


  
{%endblock%}

</body>

</html>
