{%extends "basefile.html"%}

{%block content%}
  <main id="main">

    <section class="single-post-content">
      <div class="container">
        <div class="row">
          <div class="col-md-9 post-content" data-aos="fade-up">

            <!-- ======= Single Post Content ======= -->
            <div class="single-post">
              <div class="post-meta"><span class="date">{{post.category}}</span> <span class="mx-1">&bullet;</span> <span>{{moment(post.date).fromNow()}}</span></div>
              <img src="{{url_for('static', filename=post.featured_image)}}" alt="" class="img-fluid">
              <h1 class="mb-5">{{post.post_title|safe}}</h1>
                    {{post.post_body|safe}}
                    
            </div><!-- End Single Post Content -->
            
            <!-- ======= Comments ======= -->
            {%if comment_count %}
            <div class="comments">
            {%if comment_count > 1%}
              <h5 class="comment-title py-4">{{comments|length}} Comments</h5>
             {%else%}
             <h5 class="comment-title py-4">{{comments|length}} Comment</h5>
             {%endif%}
              {%for comment in comments%}
              <div class="comment d-flex mb-4">
                <div class="flex-shrink-0">
                  <div class="avatar avatar-sm rounded-circle">
                    <img class="avatar-img" src="{{url_for('static', filename='/img/person-5.jpg')}}" alt="" class="img-fluid">
                  </div>
                </div>
                <div class="flex-grow-1 ms-2 ms-sm-3">
                  <div class="comment-meta d-flex align-items-baseline">
                    <h6 class="me-2">{{comment.author.name}}</h6>
                    <span class="text-muted">{{moment(comment.date).fromNow()}}</span>
                  </div>
                  <div class="comment-body">
                    {{comment.comment}}
                  </div>
                </div>
              </div>
              {%endfor%}
            </div><!-- End Comments -->
            {%endif%}
            {%if current_user.is_authenticated%}
            <!-- ======= Comments Form ======= -->
            <div class="row justify-content-center mt-5">

              <div class="col-lg-12">
                <h5 class="comment-title">Leave a Comment</h5>
                <div class="row">
                {{form.hidden_tag()}}
                  <div class="col-12 mb-3">
                    {{form.comment(class="form-control", id="comment-message", placeholder="Enter your comment", cols="30", rows="5")}}
                  </div>
                  <div class="col-12">
                {{form.submit( type="submit", class="btn btn-primary", value="Post comment")}}
                  </div>
                </div>
              </div>
            </div><!-- End Comments Form -->
            {%endif%} 
          </div>
          <div class="col-md-3">
            <!-- ======= Sidebar ======= -->
            <div class="aside-block">

              <ul class="nav nav-pills custom-tab-nav mb-4" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-popular-tab" data-bs-toggle="pill" data-bs-target="#pills-popular" type="button" role="tab" aria-controls="pills-popular" aria-selected="true">Popular</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-trending-tab" data-bs-toggle="pill" data-bs-target="#pills-trending" type="button" role="tab" aria-controls="pills-trending" aria-selected="false">Trending</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="pills-latest-tab" data-bs-toggle="pill" data-bs-target="#pills-latest" type="button" role="tab" aria-controls="pills-latest" aria-selected="false">Latest</button>
                </li>
              </ul>

              <div class="tab-content" id="pills-tabContent">

                <!-- Popular -->
                <div class="tab-pane fade show active" id="pills-popular" role="tabpanel" aria-labelledby="pills-popular-tab">
                {%for i in range(0,5)%}
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{popular[i].category}}</span> <span class="mx-1">&bullet;</span> <span>{{moment(popular[i].date).fromNow()}}</span></div>
                    <h2 class="mb-2"><a href="#">{{popular[i].post_title}}</a></h2>
                    <span class="author mb-3 d-block">{{popular[i].author.name}}</span>
                  </div>
                  {%endfor%}
                </div> <!-- End Popular -->

                <!-- Trending -->
                <div class="tab-pane fade" id="pills-trending" role="tabpanel" aria-labelledby="pills-trending-tab">
                {%for i in range(0,5) %}
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{trending[i].category}}</span> <span class="mx-1">&bullet;</span> <span>{{moment(trending[i].date).fromNow()}}</span></div>
                    <h2 class="mb-2"><a href="#">{{trending[i].post_title}}</a></h2>
                    <span class="author mb-3 d-block">{{trending[i].author.name}}</span>
                  </div>
                {%endfor%}
                </div> <!-- End Trending -->
               
                <!-- Latest -->
                <div class="tab-pane fade" id="pills-latest" role="tabpanel" aria-labelledby="pills-latest-tab">
                {%for i in range(0,5)%}
                  <div class="post-entry-1 border-bottom">
                    <div class="post-meta"><span class="date">{{latest[i].category}}</span> <span class="mx-1">&bullet;</span> <span>{{moment(latest[i].date).fromNow()}}</span></div>
                    <h2 class="mb-2"><a href="#">{{latest[i].post_title}}</a></h2>
                    <span class="author mb-3 d-block">{{latest[i].author.name}}</span>
                  </div>
                {%endfor%}
                </div> <!-- End Latest -->
                

              </div>
            </div>

            <div class="aside-block">
              <h3 class="aside-title">Video</h3>
              <div class="video-post">
                <a href="https://www.youtube.com/watch?v=AiFfDjmd0jU" class="glightbox link-video">
                  <span class="bi-play-fill"></span>
                  <img src="{{url_for('static', filename='/img/post-landscape-5.jpg')}}" alt="" class="img-fluid">
                </a>
              </div>
            </div><!-- End Video -->

            <div class="aside-block">
              <h3 class="aside-title">Categories</h3>
              <ul class="aside-links list-unstyled">
                <li><a href="{{url_for('main.category', cat='business')}}"><i class="bi bi-chevron-right"></i> Business</a></li>
                <li><a href="{{url_for('main.category', cat='Culture')}}"><i class="bi bi-chevron-right"></i> Culture</a></li>
                <li><a href="{{url_for('main.category', cat='Sport')}}"><i class="bi bi-chevron-right"></i> Sport</a></li>
                <li><a href="{{url_for('main.category', cat='Food')}}"><i class="bi bi-chevron-right"></i> Food</a></li>
                <li><a href="{{url_for('main.category', cat='Politics')}}"><i class="bi bi-chevron-right"></i> Politics</a></li>
                <li><a href="{{url_for('main.category', cat='Celebrity')}}"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                <li><a href="{{url_for('main.category', cat='Startups')}}"><i class="bi bi-chevron-right"></i> Startups</a></li>
                <li><a href="{{url_for('main.category', cat='Travel')}}"><i class="bi bi-chevron-right"></i> Travel</a></li>
              </ul>
            </div><!-- End Categories -->

            <div class="aside-block">
              <h3 class="aside-title">Tags</h3>
              <ul class="aside-tags list-unstyled">
                <li><a href="{{url_for('main.category', cat='business')}}">Business</a></li>
                <li><a href="{{url_for('main.category', cat='Culture')}}">Culture</a></li>
                <li><a href="{{url_for('main.category', cat='Sport')}}">Sport</a></li>
                <li><a href="{{url_for('main.category', cat='Food')}}">Food</a></li>
                <li><a href="{{url_for('main.category', cat='Politics')}}">Politics</a></li>
                <li><a href="{{url_for('main.category', cat='Celebrity')}}">Celebrity</a></li>
                <li><a href="{{url_for('main.category', cat='Startups')}}">Startups</a></li>
                <li><a href="{{url_for('main.category', cat='Travel')}}">Travel</a></li>
              </ul>
            </div><!-- End Tags -->

          </div>
        </div>
      </div>
    </section>
  </main><!-- End #main -->
{%endblock%}